<h1> Contact</h1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
<div class="form">
  <div class="mb-3 d-flex">
    <label for="colFormLabel" class="form-label me-4">Your E-mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3 d-flex">
    <label for="colFormLabel" class="form-label me-3">Your message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your text here"></textarea>
  </div>
  <input class="btn btn-primary float-end" type="submit" value="Submit">
</div>

