<h1> Portfolio </h1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
<div class="container text-left">
    <div class="row d-flex ">
        <div class="col-md-4">
            <img src="./assets/img/big-project-image.png" class="w-75">
            <h4 class="text-start text-primary mt-2">Project Name</h4>
            <div class="text">
                <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        </div>  
        <div class="col-md-4">
            <img src="./assets/img/big-project-image.png" class="w-75">
            <h4 class="text-start text-primary mt-2">Project Name</h4>
            <div class="text">
                <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>        
        </div>
        <div class="col-md-4">
            <img src="./assets/img/big-project-image.png" class="w-75">
            <h4 class="text-start text-primary mt-2">Project Name</h4>
            <div class="text">
                <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>        
        </div>
    </div>
  </div>